<div class="border border-gray-300 p-2" >
     <ul class="flex flex-row gap-4">
          <li><a class="hover:text-blue-600" href="http://localhost:3007/products/">محصولات</a></li>
          <li><a class="hover:text-blue-600" href="">فاکتورها</a></li>
          <li><a class="hover:text-blue-600" href="">سوالات متداول</a></li>
          <li><a class="hover:text-blue-600" href="">تنظیمات سایت</a></li>
          <li><a class="hover:text-blue-600" href="">کاربران</a></li>
          <li><a class="hover:text-blue-600" href="">نظرات کاربران</a></li>
     </ul>
</div>