<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>
    <main class="p-4">
     <div className="px-2">
       <a className=" flex text-2xl border-b p-4 border-gray-400">
          لیست تخفیف ها 
       </a>
     </div>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
